*{
    margin: 0em;
    padding: 0in;
    box-sizing: border-box;
}
.form-group{
    margin-top: 40px;
}
.mssg{
    margin-top: 30px;
}
.mssg1{
    margin-top: 30px;
}
.b{
    margin-left: 150px;
    margin-top: 20px;
}